html, body {
    margin: 0;
    padding: 0;
}

:root{
    --major-color: #42549A;
}

::-webkit-scrollbar {
    width: 8px;
    background: #f1f1f1;
}
    
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a9a9a9;
}

.blue{
    color: var(--major-color);
}

.page-header{
    height: 134px;
    padding: 0;
    border: 0;
}

.navbar-top{
    height:85px;
    margin:0;
    margin-left: 15px;
}

.navbar-top > *{
    height: 100%;
}

.navbar-bottom > * {
    height:100%;
}

.navbar-bottom{
    padding:0;
    margin: 0;
    border: solid;
    border-width: 1px 0px 1px 0px;
    border-image: repeating-linear-gradient(to left, rgba(99, 130, 240,.2), rgba(99, 130, 240,.6), rgba(99, 130, 240,.8)) 1;
}

.navbar-brand {
    padding: 0;
    margin-right: 20px;
}

#search_category{
    margin-right: 10px;
}

.icon{
    height: 100%;
    margin:0;
    padding:0;
    vertical-align: middle;
}

.user i{
    font-size: 30px;
    margin:0;
    padding: 0;
    margin-right: 20px;
    top:10px;
    height: 30px;
}

.user-account{
    margin:0;
    padding:0;
    height: 100%;
}

.user > *{
    margin:0px 10px 0px 10px;
}

.user-action{
    height:100%;
}

.action-desc{
    padding-top: 10px;
}

.action-btn{
    padding-bottom: 22px;
}

.menu{
    height:100%;
}

#hambur {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
}

#hambur button{
    width: 50px;
    height: 50px;
    border-radius: 0;
}

#hambur i{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.category-ctl{
    text-align: center;
    vertical-align: middle;
    background-color: var(--major-color);
    color: white;
    width: 234.5px;
}

.nav-link {
    width:100%;
    
}

.nav-link ul{
    height:100%;
    list-style: none;
}

.link {
    color: black;
}

a:hover,.link:hover{
    text-decoration: none;
}

#active {
    color: var(--major-color);
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--major-color);
}

#searchbarinput{
    border: none;
    padding-left: 20px;
}

#searchbarinput::placeholder{
    color: black;
}

#phanloaisp{
    border: none;
    border-left: 1px solid;
    border-image: repeating-linear-gradient(to bottom, rgba(0, 0, 0,0), rgba(0, 0, 0,.47), rgba(0, 0, 0,0)) 1;
}

.searchbar-group{
    background-color: transparent;
    border: 3px solid var(--major-color);
    border-radius: 24px;
    overflow: hidden;
}

.action-desc{
    color: rgba(0, 0, 0, 0.51);
}

#login{
    color: black;
}

.search-btn{
    position: relative;
    width: 45px;
    top:0px;
    color: white;
    background-color: var(--major-color);
}
.search-btn button{
    border: none;
    color: white;
    border-radius: 0px 24px 24px 0px;
}

.search-btn-bg{
    position: absolute;
    background-color: var(--major-color);
    height: 40px;
    width: 40px;
    z-index: -1;
    top: 23px;
    right: 15px;
    border-radius: 30px;
}

.bannerqc{
    margin-left: 30px;
    width: 98%;
}

.banner-title{
    color: var(--major-color);
    font-weight: 700;
    width: 500px;
    padding-top: 40px;
    font-size: 30px;
    z-index: 1;
    margin-bottom: 40px;
}

.covid{
    font-size: 70px;
    color: #EA5F5F;
    height: 85px;
}

.banner-btn{
    position: absolute;
    border: 0;
    padding: 10px 25px;
    border-radius: 19px;
    color: white;
    background-color: var(--major-color);
}

.plus{
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 10;
    margin:0;
    display: inline-block;
}

.plus > * {
    position: absolute;
}

.x-line{
    border-radius: 24px;
    width: 70%;
    height: 15%;
    left: 12.5%;
    top: 40%;
    z-index: 2;
    background-color: var(--major-color);
}
.y-line{
    border-radius: 24px;
    width: 15%;
    height: 70%;
    left: 40%;
    top: 12.5%;
    background-color: var(--major-color);
    z-index: 3;
}

.small{
    width: 50px;
    height: 50px;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: var(--major-color);
    position: absolute;
    z-index: -1;
    top:150px;
    left: 50px;
}

.virus,.banner-pdt{
    position: absolute;
    z-index: 1;
}

.virus{
    width: 50px;
}

.banner-pdt{
    width: 16%;
}

.divider{
    height: 2px;
    background-image: repeating-linear-gradient(to left, rgba(99, 130, 240,.2), rgba(99, 130, 240,.6), rgba(99, 130, 240,.2));
}

.feature{
    height:196px;
}

.ft-text{
    height: 50px;
    padding-top: 5px;
}

.ft-text p:first-child{
    font-weight: 600;
    height: 20px;
    font-size: 15px;
}

.ft-text p{
    margin:0;
    margin-left: 5px;
    font-size: 13px;
}

.statistics{
    height: 139px;
    background: rgba(66, 84, 154, 0.95);
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 600;
}

.statistics > * {
    height: 100%;
}

.stat-type{
    margin:0;
    font-size: 24px;
    font-weight: 300;
}

.subscription{
    height:100px;
    background: var(--major-color);
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.subscription >*{
    height:100%;
}

.vertical-divider{
    width: 1px;
    height:40%;
    background-color: white;
}

.email-sub{
    width: 40%;
    height: 70px;
    border: 2px solid white;
    border-radius: 45px;
    border-right-style: none;
}

.email-input{
    color: white;
    background: 
      linear-gradient(#fff, #fff) center bottom 5px /calc(100% - 60px) 1px no-repeat;
    background-color: transparent;
    padding: 7px;
    border:none;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 700;
}

.email-input::placeholder{
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.email-input:focus{
    color: white;
    border:none;
    font-size: 14px;
    font-weight: 700;
    padding: 7px;
    padding-left: 30px;
    background-color: transparent;
}

button:focus,input:focus,select:focus,.form-control:focus,.btn:focus {
    outline: none;
    box-shadow: none;
}

.email-btn {
    padding: 0px 30px 0px 30px;
    height: 68px;
    border: 1px solid white;
    color: var(--major-color);
    font-size: 16px;
    font-weight: 700;
    border-radius: 0px 40px 40px 0px;
}


.title{
    font-size: 20px;
    margin: 40px 0px 40px 0px;
}

.category-ft{
    margin-bottom: 40px;
}

.category-ft-card{
    height:300px;
    margin: 0px 10px;
    padding: 0;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}

.thumb-wrapper{
    height: 85%;
}

.category-tn{
    width: 90%;
    display: block;
}

.category-ft-card:first-child{
    margin-left: 0px;
}

.category-ft-card:last-child{
    margin-right: 0px;
}

.category-slider {
    margin: 0;
    margin-bottom: 40px;
}

.slider-title{
    text-align: center;
    margin:0;
    margin-bottom: 30px;
}

.category-icon{
    vertical-align: middle;
}

.category-card{
    height: 320px;
    background-color: var(--major-color);
    border-radius: 16px;
    text-align: center;
    font-size: 120px;
}

.product-slider-card {
    padding: 0px 10px 10px 10px;
}

.slider-list{
    text-align: center;
}

.slider-list > *{
    margin: 5px 10px 16px 10px;
    padding: 0;
}

.control{
    height: 320px;
}

.ctrl {
    border: 1px solid #C8C8C8;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    font-size: x-large;
    color: #898989;
    cursor: pointer;
}
.product-slider-page{
    padding: 0;
    padding-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.product-card{
    height: 320px;
    border-radius: 16px;
    text-align: left;
    font-size: 16px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
}

.product-divider {
    border: 1px solid rgba(197, 197, 197, 0.55);
}

.product-details{
    margin: 0;
    margin-bottom: 20px;
}

.product-image img{
    width: 80%;
}

.product-price{
    color: var(--major-color);
}

.product-link{
    text-align: center;
    width: 32px;
    height: 32px;
    color: white;
    font-size: 20px;
    background-color: var(--major-color);
    border-radius: 5px;
}

.product-slider-divider{
    height: 2px;
    margin: 40px 0px;
}

.product-slider-paging{
    font-size: 36px;
    color: var(--major-color);
    margin: 40px 0px;
}

.product-slider-paging i{
    margin: 0px 120px;
    cursor: pointer;
}

.yt-l,.dp-l,.dc-l{
    cursor: pointer;
}

.dc-line.active-line i,.dp-line.active-line i,.yt-line.active-line i{
    bottom: 8px;
}

.sd-l-active{
    color: var(--major-color);
}

.active-line:not(.selected-list){
    display: none !important;
}


.monthly-promo{
    margin-top: 50px;
}

.promo {
    margin:0;
    margin-top: 40px;
    border: 2.5px solid var(--major-color);
    border-radius: 19px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 18px;
}

.promo-info{
    margin: 0;
    padding: 0;
}

.sale-info{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 40px;
}

#percent{
    color: #EA5F5F;
}

.timer-content{
    padding: 0px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}

.timer-box{
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 10px;
    width: 42px;
    height: 42px;
    background-color: var(--major-color);
    margin-bottom: 20px;
}

.timer-content:first-of-type{
    margin-left:0;
}

.promo-timer{
    margin-bottom: 10px;
}

.promo-button{
    border: 0;
    padding: 10px 25px;
    border-radius: 19px;
    color: white;
    background-color: var(--major-color);
}

.promo-slider > *{
    padding: 5px;
}

.promo-ctrl{
    height: 40px !important;
    width: 40px !important; 
    
}

.promo-control{
    position: absolute;
    top:41%;
}

.promo-card{
    font-size: 16px;
}

.promo-card-thumb{
    height: 205px;
}

.promo-card-thumb img{
    width: 100%;
}

.promo-card-info{
    width: 154px;
    overflow: hidden;
    margin-top: 10px;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}


.promo-card-price{
    margin-top: 4px;
    font-weight: 600;
    color: var(--major-color);
}

.news-ratings{
    margin-top: 40px;
    margin-bottom: 40px;
}

.news,.ratings{
    padding: 0;
    font-size: 24px;
}

.article {
    margin: 10px 0px 20px 0px;
}

.article-thumb{
    width: 180px;
    height: 124px;
    border-radius: 18px;
    background-size: cover;
}

.article-content{
    margin-left: 20px;
}

.article-date{
    font-size: 16px;
    color: var(--major-color);
}

.article-title{
    font-size: 20px;
    word-wrap:break-word;
    overflow:hidden;
    max-width: 304px;
}

.article-divider{
    height: 1px;
    background-color: var(--major-color);
}

.article:last-child{
    margin-bottom: 0;
}

.review{
    margin-top: 15px;
    font-size: 18px;
}

.review-content{
    padding: 20px;
    border-radius: 18px;
    border: 1px solid var(--major-color);
}

.review-more{
    margin-top: 30px;
}

.reviewer {
    width: 84px;
    height: 84px;
    border-radius: 40px;
    background: red;
}

.rv-ctrl{
    width: 40px !important;
    height: 40px !important;
    margin: 0px 20px;
    font-size: medium !important;
}

.rv-ctrl:last-of-type{
    margin-right: 0;
}

footer{
    height: 422px;
    background-image: url("../img/footerimg.png");
    background-size: cover;
}

footer .container {
    padding-top: 40px;
}

.footer-info > *{
    display: block;
    float: left;
}

.footer-logo{
    font-size: 32px;
    font-weight: 600;
    color: var(--major-color);
}


.footer-col-title{
    font-weight: 700;
    font-size: 20px;
}

.footer-contact, .footer-pp, .footer-paymethod{
    margin: 40px;
    margin-top: 0;
}

.footer-info div:first-child{
    margin-left: 0;
}

.footer-info div:last-child{
    margin-right: 0;
}

footer ul {
    padding: 0;
    list-style: none;
    max-width: 200px;
    font-size: 18px;
}

footer ul li{
    margin: 10px 0px;
}

.action-clipboard{
    font-weight: 600;
    color: var(--major-color);
}

.methods{
    margin-top: 20px;
    max-width: 250px;
}

.method{
    background: #ffffff;
    width: 95px;
    height: 68px;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    filter: drop-shadow(-2px 0px 9px rgba(0, 0, 0, 0.2));
}

.methods div:first-child{
    margin-left: 0;
}

.methods div:nth-child(3){
    margin-left: 0;
}

.method img{
    width: 60%;
}

.contact-title{
    font-size: 24px;
    border-bottom: 1px solid rgba(72, 72, 72, 0.3);
}

.tabcontent,.getintouch-info{
    margin-top: 40px;
}

.form-title{
    font-size: 17px;
}

.form-input{
    width: 100%;
    padding: 8px 10px 8px 40px;
    border: 0px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form-input::placeholder{
    font-size: 18px;
}

.form-button{
    border: none;
    background-color: var(--major-color);
    border-radius: 19px;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
}

.contact-wrapper{
    margin-bottom: 40px;
}

.getintouch-info{
    line-height: 20px;
    font-size: 17px;
}

.getintouch-info i{
    font-size: 28px;
    margin-right: 20px;
    color: var(--major-color);
}

#noidungll{
    height: 168px;
    resize: none;
}

.tablinks,.contact-us{
    height: 50px;
}

.git-active-line,.active-line{
    background-color: #596EBF; 
    width:100%; 
    height: 4px;
    border-radius: 20px;
    margin-top: 10px;
}

.git-active-line i,.active-line i{
	position: relative;
	color: #596EBF;
	text-align: left;
    z-index: 2;
    bottom: 15px;
    transform: scale(1.2,1.8);
}

#branch-active{
    display: none!important;
}

#chinhanh{
    height: 690px;
}

.ggmap-wrapper{
    padding: 15px 21px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.ggmap-wrapper img{
    width: 100%;
}

.product-dt-images{
    margin-right: 20px;
}

.product-dt-image{
    width: 80px;
    height: 80px;
    border-radius: 18px;
    border: 2px solid rgba(200, 200, 200, 0.8);
    margin-bottom: 20px;
}

.active-image{
    border-color: var(--major-color);
}

.product-dt-image img{
    width: 100%;
}

.product-thumb{
    width: 384px;
    height: 384px;
    border-radius: 18px;
    border: 2px solid var(--major-color);
    margin-right: 40px;
}

.product-thumb img{
    width: 100%;
}

.tab-title{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    height: 50px;
    cursor: pointer;
}

.btn-minus{
    border-radius: 8px 0px 0px 8px !important;
}

.btn-plus{
    border-radius: 0px 8px 8px 0px !important;
}

.quantity{
    width: 50px;
    text-align: center;
    border: 1px solid black;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-action{
    width: 48px !important;
    height: 48px !important;
    margin-right: 20px;
}

.btn-action i{
    font-size: 30px;
}

.product-info-content {
    margin-top: 20px !important;
}

.product-info-content >*{
    margin-top: 10px;
}

.other-products{
    margin-top: 20px;
}

.other-products-title{
    font-size: 24px;
}

.subscription{
    margin-top: 40px;
}

.active {
    color: black;
}

#ctsp-active {
    display: none !important;
}

.product-action{
    margin-top: 20px;
}

.btn-light{
    background-color: rgba(218, 218, 218, 0.4) !important;
}

.product-category{
    font-size: 16px;
    color: #565656;
}

.product-dt-name{
    font-size: 30px;
}

#pd-price,.product-status{
    color: var(--major-color);
    font-size: 18px;
}

.product-status i{
    font-size: 22px;
    margin-right: 18px;
}

.product-status{
    font-weight: 700;
}

#ctsp p{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.other-products-wrapper {
    margin: 0px;
    margin-top: 40px;
}

.op-control{
    margin-top: 0 !important;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.inactive-pd-info{
    background: rgba(218, 218, 218, 0.6) !important;
    color: rgba(72, 72, 72, 0.65) !important;
}

.order{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-image: repeating-linear-gradient(to left, rgba(99, 130, 240,.2), rgba(99, 130, 240,.6), rgba(99, 130, 240,.2)) 1;
}

.order-titles{
    color: var(--major-color);
    font-size: 16px;
    font-weight: 600;
}

.order-formctrl{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: transparent;
    padding-left: 20px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
}

select.order-sl:after{
    margin-right: 10px;
}

select.order-sl{
    -webkit-appearance: none;
    appearance: none;
}

.order-sl-wrapper {
    position: relative;
}

.order-sl-wrapper:after {
    font-family: "Font Awesome 5 Free";
    color: black;
    content: "\f078";
    font-weight:900;
    font-size: 1rem;
    top: 0px;
    right: 15px;
    position: absolute;
}

.formctrl-divider{
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: -1;
    top:0px;
    right: 60px;
}

.order > *{
    padding-right: 15px;
}

.order div:last-child{
    padding-right: 0px;
}
.order-dl-wrapper{
    position: relative;
}
.order-dl-wrapper:after {
    font-family: "Font Awesome 5 Free";
    color: black;
    content: "\f078";
    font-weight:900;
    font-size: 1rem;
    top: 9px;
    right: 15px;
    position: absolute;
}

.dl-divider{
    right: 45px !important;
}

[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}

.order-formctrl::placeholder{
    color: black;
}
.order-qt{
    width: 135px;
}

.order-quantity{
    width: 40px;
}

.order-qt-input > * > button, .order-qt-input > *{
    border-color: rgba(0, 0, 0, 0.25) !important;
}
.order-qt-input > *{
    border-left: none !important;
    border-right: none !important;
}

.price-input{
    padding:auto !important;
    padding-left: 8px !important;
    font-size: 16px;
}

.order-button-wrapper{
    margin-top: 20px;
}

.order-button-wrapper button{
    padding: 10px 15px;
    border: none;
    background-color: var(--major-color);
    border-radius: 8px;
    color: white;
}

.order-cart{
    margin-top:40px;
    margin-bottom: 40px;
}

.cart-title {
    font-size: 24px;
    font-weight: 600;
}

.cart{
    margin-top: 40px;
}

table.table thead th {
    background-color: var(--major-color);
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid white;
}

table.table-fit {
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}

table.table tbody td {
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid rgba(66, 84, 154, 0.35);
}

table.table tbody tr:nth-last-of-type(2) > td{
    border-bottom: 1px solid var(--major-color) !important;
}

table.table tbody tr.sum-row td{
    border-top: 1px solid var(--major-color) !important;
    border-bottom: 1px solid var(--major-color) !important;
}

.sum{
    font-size: 20px !important;
    font-weight: 600 !important;
    text-align: center !important;
}

.container-fluid{
    height: 1080px;
}

.half-white{
    margin-left: 299.1px;
    padding: 0;
    padding-right: 40px;
}

.half-grey {
    background: rgba(233, 233, 233, 0.28);
    border-left: 1px solid rgba(77, 77, 77, 0.25);
    padding: 0;
    padding-left: 40px;
}



input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.5px solid #949494;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: var(--major-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}


.form-check{
    padding: 20px 0px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.form-check-label{
    margin-left: 20px;
}

.checked-out>.order-button-wrapper,.payment-methods>.order-button-wrapper{
    margin-top: 40px;
}

.check-out{
    margin-top:100px;
}

.order-item-img{
    height: 80px;
    width: 80px;
    background: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-right: 20px;
}
.order-item-img img{
    padding: 4px;
    width: 100%;
}

.order-item-name,.order-item-price{
    font-size: 20px;
}

.order-item:not(.order-item:last-of-type){
    margin-bottom: 40px;
}

.checkout-divider{
    width: 100%;
    border: 1px solid;
    border-image: repeating-linear-gradient(to left, rgba(165, 165, 165,.2), rgba(165, 165, 165,.6), rgba(165, 165, 165,.2)) 1;
    margin: 20px 0px;
}

.discount-input{
    border:none;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.discount-input:focus{
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
}

input.discount-input{
    padding-left: 20px !important;
}


.discount-btn{
    border: 1px solid var(--major-color);
    border-radius: 8px;
    color: var(--major-color);
}

.discount-btn:hover{
    background-color: var(--major-color);
    color: white;
}

.checkout-subtotal table{
    font-size: 20px;
    font-weight: 300;
}

.checkout-subtotal table tbody tr td:last-child{
    text-align: right;
}

.checkout-total table{
    font-size: 20px;
    font-weight: 400;
}

.checkout-total table tbody tr td{
    vertical-align: sub;
}

.checkout-total table tbody tr td:not(td:first-child){
    text-align: right;
}

.currency{
    font-size: 15px;
    font-weight: 300;
}

.payment-footer-content{
    margin-bottom: 20px;
}

.payment-footer{
    position: absolute;
    bottom: 0px;
}

.checkout-action{
    font-size: 20px;
    font-weight:600;
    margin: 20px 0px;
}

.checked-out-announce{
    font-size: 20px;
    margin-top: 120px;
    margin-bottom: 80px;
}

.breadcrumb{
    background-color: transparent;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 18px;
}

.breadcrumb-divider{
    margin-right: 5px;
}

a{
    color: var(--major-color);
}

.counter{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--major-color);
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 9px;
    border-radius: 20px;
    top: -15px;    
    left: 65px;
}

.checkout-item-counter{
    position: relative;
    width: 32px;
    height: 32px;
    font-size: 15px;
    top: -95px;
    font-weight: 600;
}

.review-control{
    position: absolute;
    z-index: 1;
    bottom: 0px;
}

.sale-badge{
    position: absolute;
    z-index: 2;
    width: 45px;
    height: 45px;
    background-color: var(--major-color);
    border-radius: 32px;
    color: white;
    top: 50px;
}