html, body {
    margin: 0;
    padding: 0;
}

.page-header{
    height: 134px;
    padding: 0;
    border: 0;
}

.navbar-top{
    height:85px;
    margin:0;
    margin-left: 15px;
}

.navbar-top > *{
    height: 100%;
}

.navbar-bottom > * {
    height:100%;
}

.navbar-bottom{
    padding:0;
    margin: 0;
    border: solid;
    border-width: 1px 0px 1px 0px;
    border-image: repeating-linear-gradient(to left, rgba(99, 130, 240,.2), rgba(99, 130, 240,.6), rgba(99, 130, 240,.8)) 1;
}

.navbar-brand {
    padding: 0;
    margin-right: 20px;
}

#search_category{
    margin-right: 10px;
}

.icon{
    height: 100%;
    margin:0;
    padding:0;
    vertical-align: middle;
}

.user i{
    font-size: 30px;
    margin:0;
    padding: 0;
    margin-right: 20px;
    top:10px;
    height: 30px;
}

.user-account{
    margin:0;
    padding:0;
    height: 100%;
}

.user > *{
    margin:0px 10px 0px 10px;
}

.user-action{
    height:100%;
}

.action-desc{
    padding-top: 10px;
}

.action-btn{
    padding-bottom: 22px;
}

.menu{
    height:100%;
}

#hambur {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
}

#hambur button{
    width: 50px;
    height: 50px;
    border-radius: 0;
}

#hambur i{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.category-ctl{
    text-align: center;
    vertical-align: middle;
    background-color: #42549A;
    color: white;
    width: 234.5px;
}

.nav-link {
    width:100%;
    
}

.nav-link ul{
    height:100%;
    list-style: none;
}

.link {
    color: black;
}

.link:hover{
    text-decoration: none;
}

#active {
    color: #42549A;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #42549A;
}

.bannerqc{
    margin-left: 30px;
    width: 98%;
}

.banner-title{
    color: #42549A;
    font-weight: 700;
    width: 500px;
    padding-top: 40px;
    font-size: 30px;
    z-index: 1;
    margin-bottom: 40px;
}

.covid{
    font-size: 70px;
    color: #EA5F5F;
    height: 85px;
}

.banner-btn{
    position: absolute;
    border: 0;
    padding: 10px 25px;
    border-radius: 19px;
    color: white;
    background-color: #42549A;
}

.plus{
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 10;
    margin:0;
    display: inline-block;
}

.plus > * {
    position: absolute;
}

.x-line{
    border-radius: 24px;
    width: 70%;
    height: 15%;
    left: 12.5%;
    top: 40%;
    z-index: 2;
    background-color: #42549A;
}
.y-line{
    border-radius: 24px;
    width: 15%;
    height: 70%;
    left: 40%;
    top: 12.5%;
    background-color: #42549A;
    z-index: 3;
}

.small{
    width: 50px;
    height: 50px;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #42549A;
    position: absolute;
    z-index: -1;
    top:150px;
    left: 50px;
}

.virus,.banner-pdt{
    position: absolute;
    z-index: 1;
}

.virus{
    width: 50px;
}

.banner-pdt{
    width: 16%;
}

.divider{
    height: 2px;
    background-image: repeating-linear-gradient(to left, rgba(99, 130, 240,.2), rgba(99, 130, 240,.6), rgba(99, 130, 240,.2));
}

.feature{
    height:196px;
}

.ft-text{
    height: 50px;
    padding-top: 5px;
}

.ft-text p:first-child{
    font-weight: 600;
    height: 20px;
    font-size: 15px;
}

.ft-text p{
    margin:0;
    margin-left: 5px;
    font-size: 13px;
}

.statistics{
    height: 139px;
    background: rgba(66, 84, 154, 0.95);
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 600;
}

.statistics > * {
    height: 100%;
}

.stat-type{
    margin:0;
    font-size: 24px;
    font-weight: 300;
}

.subscription{
    height:100px;
    background: #42549A;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.subscription >*{
    height:100%;
}

.vertical-divider{
    width: 1px;
    height:40%;
    background-color: white;
}

.email-sub{
    width: 40%;
    height: 70px;
    border: 2px solid white;
    border-radius: 45px;
    border-right-style: none;
}

.email-input{
    color: white;
    background: 
      linear-gradient(#fff, #fff) center bottom 5px /calc(100% - 60px) 1px no-repeat;
    background-color: transparent;
    padding: 7px;
    border:none;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 700;
}

.email-input::placeholder{
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.email-input:focus{
    color: white;
    border:none;
    font-size: 14px;
    font-weight: 700;
    padding: 7px;
    padding-left: 30px;
    background-color: transparent;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.email-btn {
    padding: 0px 30px 0px 30px;
    height: 68px;
    border: 1px solid white;
    color: #42549A;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0px 40px 40px 0px;
}

footer{
    height: 422px;
    background-image: url("../img/footerimg.png");
    background-size: cover;
}

.title{
    font-size: 20px;
    margin: 40px 0px 40px 0px;
}

.category-ft{
    margin-bottom: 40px;
}

.category-ft-card{
    height:300px;
    margin: 0px 10px;
    padding: 0;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}

.thumb-wrapper{
    height: 85%;
}

.category-tn{
    width: 90%;
    display: block;
}

.category-ft-card:first-child{
    margin-left: 0px;
}

.category-ft-card:last-child{
    margin-right: 0px;
}

.category-slider {
    margin: 0;
    margin-bottom: 40px;
}

.slider-title{
    text-align: center;
    margin:0;
    margin-bottom: 30px;
}

.category-icon{
    vertical-align: middle;
}

.category-card{
    height: 320px;
    background-color: #42549A;
    border-radius: 16px;
    text-align: center;
    font-size: 120px;
}

.control{
    margin-top: 60px;
    height: 320px;
}

.ctrl {
    border: 1px solid #C8C8C8;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    font-size: x-large;
    color: #898989;
    cursor: pointer;
}
.product-slider-page{
    padding: 0;
    padding-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.product-card{
    height: 320px;
    border-radius: 16px;
    text-align: center;
    font-size: 120px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
}

.product-slider-divider{
    height: 2px;
    margin: 40px 0px;
}

.product-slider-paging{
    font-size: 36px;
    color: #42549A;
    margin: 40px 0px;
}

.product-slider-paging i{
    margin: 0px 120px;
    cursor: pointer;
}

.monthly-promo{
    margin-top: 50px;
}

.promo {
    margin:0;
    margin-top: 40px;
    border: 2.5px solid #42549A;
    border-radius: 19px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 18px;
}

.promo-info{
    margin: 0;
    padding: 0;
}

.sale-info{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 40px;
}

#percent{
    color: #EA5F5F;
}

.timer-content{
    padding: 0px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}

.timer-box{
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 10px;
    width: 42px;
    height: 42px;
    background-color: #42549A;
    margin-bottom: 20px;
}

.timer-content:first-of-type{
    margin-left:0;
}

.promo-timer{
    margin-bottom: 10px;
}

.promo-button{
    border: 0;
    padding: 10px 25px;
    border-radius: 19px;
    color: white;
    background-color: #42549A;
}

.promo-slider > *{
    padding: 5px;
}

.promo-ctrl{
    height: 40px !important;
    width: 40px !important; 
    
}

.promo-control{
    position: absolute;
    top:41%;
}

.promo-card{
    font-size: 16px;
}

.promo-card-thumb{
    height: 205px;
}

.promo-card-thumb img{
    width: 100%;
}

.promo-card-info{
    margin-top: 10px;
}

.promo-card-rating{
    margin-top: 15px;
}

.promo-card-price{
    margin-top: 4px;
    font-weight: 600;
    color: #42549A;
}

.news-ratings{
    margin-top: 40px;
    margin-bottom: 40px;
}

.news,.ratings{
    padding: 0;
    font-size: 24px;
}

.article {
    margin: 10px 0px 20px 0px;
}

.article-thumb{
    width: 180px;
    height: 124px;
    border-radius: 18px;
    background-size: cover;
}

.article-content{
    margin-left: 20px;
}

.article-date{
    font-size: 16px;
    color: #42549A;
}

.article-title{
    font-size: 20px;
    word-wrap:break-word;
    overflow:hidden;
    max-width: 304px;
}

.article-divider{
    height: 1px;
    background-color: #42549A;
}

.article:last-child{
    margin-bottom: 0;
}

.review{
    margin-top: 15px;
    font-size: 18px;
}

.review-content{
    padding: 20px;
    border-radius: 18px;
    border: 1px solid #42549A;
}

.review-more{
    margin-top: 30px;
}

.reviewer {
    width: 84px;
    height: 84px;
    border-radius: 40px;
    background: red;
}

.rv-ctrl{
    width: 40px !important;
    height: 40px !important;
    margin: 0px 20px;
    font-size: medium !important;
}

.rv-ctrl:last-of-type{
    margin-right: 0;
}