html, body {
    margin: 0;
    padding: 0;
}

.page-header{
    height: 134px;
    padding: 0;
    border: 0;
}

.navbar-top{
    height:85px;
    margin:0;
}

.navbar-bottom{
    
}

.navbar-top > *{
    height: 100%;
}

.navbar-bottom > * {
    height:100%;
}

.navbar-brand {
    padding: 0;
    margin-right: 20px;
}

#search_category{
    margin-right: 10px;
}

.user i{
    font-size: 30px;
    margin-right: 20px;
    top:10px;
}

.user-account{
    margin:0;
    padding:0;
}

.user-action{
    height:30px;
}

.menu{
    height:100%;
}

#hambur {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
}

#hambur button{
    width: 50px;
    height: 50px;
    border-radius: 0;
}

#hambur i{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
